html { 
    background: url(bileter/chuttersnap-9AqIdzEc9pY-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    width: 80%;
    margin: auto;
}

article {
    display: flex;
    flex-direction: row;
}

#venstre, #hogre {
    border: 1px solid black;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: white;
}

#venstre {
    flex-basis: 60%;
}
#bileter {
    display: flex;
    flex-direction: row;
}

#bileter img {
    margin-right: 15px;
}

@media (max-width: 936px) {
    article {
        flex-direction: column;
    }
    main {
        width: 100%;
    }
    #bileter {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #bileter img {
        margin-bottom: 15px;
    }
}